<ion-content padding>
  <div class="icon_appbook">
    <img src="assets/imgs/icon_appbook.svg" alt="App Book Icon">
    <h2>APPBOOK</h2>
    <h3>História dos Colégios Militares do estado de Goiás e Faculdade da Polícia Militar - FPM</h3>
  </div>

  <div class="center_links">
    <div class="btn_book" (click)="pageEbookson()">
      <figure class="icon icon_ebook"></figure>
      <p>E-book</p>
  </div>
<!-- (click)="homePageLink()" -->
  <div class="btn_book" (click)="exitApp()">
      <figure class="icon icon_sair"></figure>
      <p>Sair</p>
    </div>
  </div>

</ion-content>
<div class="copyright">
  <p>&copy; 2018 - Todos os direitos reservados e protegidos.</p>
</div>
