page-escolha ion-content {
  background-image: url(../assets/imgs/bg_principal.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow-x: hidden;
  color: #fff;
}

.center_links {
  position: absolute;
  text-align: center;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center_links::after {
  content: "";
  display: block;
  clear: both;
}
.center_links .btn_book:first-child {
  margin-right: 15px;
}
.center_links .btn_book {
  background-color: #438ea2;
  padding: 15px;
  width: 90px;
  color: #fff;
  height: 90px;
  float: left;
}
.center_links .icon {
  background-size: contain;
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}

.center_links .icon_ebook {
  background-image: url(../assets/imgs/icon_ebook.svg);
}
.center_links .icon_sair {
  background-image: url(../assets/imgs/icon_sair.svg);
}
.center_links p {
  text-decoration: none;
}
.copyright {
  float: left;
  position: absolute;
  width: 100%;
  height: 2.75em;
  bottom: 10px;
  text-align: center;
  padding-right: 15px;
}
.copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 3.2vw;
  font-weight: 600;
  color: #ffffff;
}
