<ion-content padding (click)="selecionaLivro()">
  <div class="icon_appbook">
    <img src="assets/imgs/icon_appbook.svg" alt="App Book Icon">
    <h2>APPBOOK</h2>
  </div>
 <div class="historia_fpm">
   <h1>História dos <br>Colégios Militares<br> do Estado de Goiás<br>  e da Faculdade da <br> Polícia Militar - FPM</h1>
 </div>
 <div class="autores">
   <p>Cleber Aparecido Santos</p>
   <p>Ubiratan Reges de Jesus Júnior</p>
   <p>Waldemar Naves do Amaral</p>
 </div>
</ion-content>
