page-home ion-content {
  background-image: url(../assets/imgs/capa_app.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

.historia_fpm {
  padding-top: 50px;
}
.historia_fpm h1 {
  color: #fff;
  font-size: 2.5rem;
  padding-right: 3%;
  text-transform: uppercase;
  font-weight: 700;
}

.autores p {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.autores {
  float: left;
  position: absolute;
  width: 100%;
  bottom: 50px;
  color: #fff;
  padding-right: 15px;
}
@media (orientation: landscape) {
  .historia_fpm{
    padding-top: 5px;
  }
  .historia_fpm h1 {
    padding-bottom: 2rem;
  }
  .autores {
    position: relative;
    bottom: 25px;
  }
}
