// /assets/

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../assets/fonts/opensans/opensans-light.woff2") format("woff2"),
    url("../assets/fonts/opensans/opensans-light.woff") format("woff"),
    url("../assets/fonts/opensans/opensans-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
    url("../assets/fonts/opensans/opensans-regular.woff2") format("woff2"),
    url("../assets/fonts/opensans/opensans-regular.woff") format("woff"),
    url("../assets/fonts/opensans/opensans-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
    url("../assets/fonts/opensans/OpenSans-Semibold.woff2") format("woff2"),
    url("../assets/fonts/opensans/OpenSans-Semibold.woff") format("woff"),
    url("../assets/fonts/opensans/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../assets/fonts/opensans/opensans-bold.woff2") format("woff2"),
    url("../assets/fonts/opensans/opensans-bold.woff") format("woff"),
    url("../assets/fonts/opensans/opensans-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"),
    url("../assets/fonts/opensans/opensans-extrabold.woff2") format("woff2"),
    url("../assets/fonts/opensans/opensans-extrabold.woff") format("woff"),
    url("../assets/fonts/opensans/opensans-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../assets/fonts/opensans/opensans-italic.woff2") format("woff2"),
    url("../assets/fonts/opensans/opensans-italic.woff") format("woff"),
    url("../assets/fonts/opensans/opensans-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

ion-content {
  font-family: "Open Sans", sans-serif;
}
p {
  color: #ffff;
}
.icon_appbook {
  text-align: center;
}
.icon_appbook img {
  width: 40px;
}
.icon_appbook h2 {
  font-size: 1.9rem;
  color: #fff;
  margin-top: 5px;
  font-weight: 900;
}
.icon_appbook h3 {
  font-size: 4vw;
  color: #fff;
  margin-top: 14px;
  font-weight: 600;
}
